/** 
 * @Author: flydreame 
 * @Date: 2017-12-12 09:00:26 
 * @Desc: 自定义变量
 * @Params:  
 */

/* 改变主题色变量 */
$--color-primary: #c72e30;

/* 改变按钮变量 */
$--border-radius-base: 2px !default;
$--border-radius-small: 2px !default;
$--button-padding-vertical: 8px !default;
$--button-padding-horizontal: 15px !default;

/* 头高 */
$--gpage-header-height: 50px;