.gpage-index__header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $--color-primary;
  color: #fff;
  -webkit-app-region: drag
}

.page-index-btn-group {
  .el-button {
    -webkit-app-region: no-drag
  }
}